//Ejercicio 1

# IntelliJ IDEA
TP_1/Ejercicio_1/out/
!TP_1/Ejercicio_1/**/src/main/**/out/
!TP_1/Ejercicio_1/**/src/test/**/out/

# Ignorar la mayoría de los archivos en .idea
TP_1/Ejercicio_1/.idea/*

# No ignorar archivos específicos que podrían ser necesarios
!TP_1/Ejercicio_1/.idea/modules.xml
!TP_1/Ejercicio_1/*.iml
!TP_1/Ejercicio_1/.idea/vcs.xml  # Si usas Git desde IntelliJ

# Ignorar archivos generados automáticamente
TP_1/Ejercicio_1/.idea/workspace.xml
TP_1/Ejercicio_1/.idea/tasks.xml
TP_1/Ejercicio_1/.idea/usage.statistics.xml
TP_1/Ejercicio_1/.idea/dictionaries/
TP_1/Ejercicio_1/.idea/shelf/

//Ejercicio 2

# IntelliJ IDEA
TP_1/Ejercicio_2/out/
!TP_1/Ejercicio_2/**/src/main/**/out/
!TP_1/Ejercicio_2/**/src/test/**/out/

# Ignorar la mayoría de los archivos en .idea
TP_1/Ejercicio_2/.idea/*

# No ignorar archivos específicos que podrían ser necesarios
!TP_1/Ejercicio_2/.idea/modules.xml
!TP_1/Ejercicio_2/*.iml
!TP_1/Ejercicio_2/.idea/vcs.xml  # Si usas Git desde IntelliJ

# Ignorar archivos generados automáticamente
TP_1/Ejercicio_2/.idea/workspace.xml
TP_1/Ejercicio_2/.idea/tasks.xml
TP_1/Ejercicio_2/.idea/usage.statistics.xml
TP_1/Ejercicio_2/.idea/dictionaries/
TP_1/Ejercicio_2/.idea/shelf/

//Ejercicio 3

# IntelliJ IDEA
TP_1/Ejercicio_3/out/
!TP_1/Ejercicio_3/**/src/main/**/out/
!TP_1/Ejercicio_3/**/src/test/**/out/

# Ignorar la mayoría de los archivos en .idea
TP_1/Ejercicio_3/.idea/*

# No ignorar archivos específicos que podrían ser necesarios
!TP_1/Ejercicio_3/.idea/modules.xml
!TP_1/Ejercicio_3/*.iml
!TP_1/Ejercicio_3/.idea/vcs.xml  # Si usas Git desde IntelliJ

# Ignorar archivos generados automáticamente
TP_1/Ejercicio_3/.idea/workspace.xml
TP_1/Ejercicio_3/.idea/tasks.xml
TP_1/Ejercicio_3/.idea/usage.statistics.xml
TP_1/Ejercicio_3/.idea/dictionaries/
TP_1/Ejercicio_3/.idea/shelf/

//Ejercicio Integrador

# IntelliJ IDEA
TP_1/Ejercicio_Integrador/out/
!TP_1/Ejercicio_Integrador/**/src/main/**/out/
!TP_1/Ejercicio_Integrador/**/src/test/**/out/

# Ignorar la mayoría de los archivos en .idea
TP_1/Ejercicio_Integrador/.idea/*

# No ignorar archivos específicos que podrían ser necesarios
!TP_1/Ejercicio_Integrador/.idea/modules.xml
!TP_1/Ejercicio_Integrador/*.iml
!TP_1/Ejercicio_Integrador/.idea/vcs.xml  # Si usas Git desde IntelliJ

# Ignorar archivos generados automáticamente
TP_1/Ejercicio_Integrador/.idea/workspace.xml
TP_1/Ejercicio_Integrador/.idea/tasks.xml
TP_1/Ejercicio_Integrador/.idea/usage.statistics.xml
TP_1/Ejercicio_Integrador/.idea/dictionaries/
TP_1/Ejercicio_Integrador/.idea/shelf/