# IntelliJ IDEA
TP_1/Ejercicio_1/out/
!TP_1/Ejercicio_1/**/src/main/**/out/
!TP_1/Ejercicio_1/**/src/test/**/out/

# Ignorar la mayoría de los archivos en .idea
TP_1/Ejercicio_1/.idea/*

# No ignorar archivos específicos que podrían ser necesarios
!TP_1/Ejercicio_1/.idea/modules.xml
!TP_1/Ejercicio_1/*.iml
!TP_1/Ejercicio_1/.idea/vcs.xml  # Si usas Git desde IntelliJ

# Ignorar archivos generados automáticamente
TP_1/Ejercicio_1/.idea/workspace.xml
TP_1/Ejercicio_1/.idea/tasks.xml
TP_1/Ejercicio_1/.idea/usage.statistics.xml
TP_1/Ejercicio_1/.idea/dictionaries/
TP_1/Ejercicio_1/.idea/shelf/

# IntelliJ IDEA
TP_1/Ejercicio_2/out/
!TP_1/Ejercicio_2/**/src/main/**/out/
!TP_1/Ejercicio_2/**/src/test/**/out/

# Ignorar la mayoría de los archivos en .idea
TP_1/Ejercicio_2/.idea/*

# No ignorar archivos específicos que podrían ser necesarios
!TP_1/Ejercicio_2/.idea/modules.xml
!TP_1/Ejercicio_2/*.iml
!TP_1/Ejercicio_2/.idea/vcs.xml  # Si usas Git desde IntelliJ

# Ignorar archivos generados automáticamente
TP_1/Ejercicio_2/.idea/workspace.xml
TP_1/Ejercicio_2/.idea/tasks.xml
TP_1/Ejercicio_2/.idea/usage.statistics.xml
TP_1/Ejercicio_2/.idea/dictionaries/
TP_1/Ejercicio_2/.idea/shelf/